<div class="modal fade" id="signUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Sign Up</h1>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: resource, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= f.hidden_field :url, value: request.fullpath %>
          <div class="form-group">
            <%= f.label :name, 'name（maxium 10）' %>
            <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', required: 'required' %>

            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, autocomplete: 'email', class: 'form-control', required: 'required' %>
  
            <%= f.label :password, 'Password（minimum 6）' %>
            <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', required: 'required', minlength: '6' %>
  
            <%= f.label :password_confirmation, 'Confirm Password' %>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', required: 'required' %>
          </div>
          <%= f.fields_for :bike, resource.build_bike do |bike| %>
            <%= f.label :bike_name, 'バイクの車種' %>
            <%= bike.text_field :bike_name, autofocus: true, autocomplete: 'name', class: 'form-control', required: 'required' %>
            <%= f.label :cc_id, '排気量' %>
            <%= bike.collection_select(:cc_id, Cc.all, :id, :name, {}, {class:"select-box", id:"bike-cc"}) %>
            <%= f.label :maker_id, 'メーカー' %>
            <%= bike.collection_select(:maker_id, Maker.all, :id, :name, {}, {class:"select-box", id:"bike-maker"}) %>
            <%= f.label :type_id, 'タイプ' %>
            <%= bike.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"bike-type"}) %>
          <% end %>
          <div class="mb-3">
            <%= f.submit 'Register', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>