  <div class="row">

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header" >
          <div class="post-user">
            <%= link_to image_tag('no-avatar.png', class: 'user_avatar', alt: 'avatar image'), "#", class: 'mr-2' %>
          </div>
        </div>
        <%= link_to image_tag('sample_bike_1.jpg', class: 'bike_image_index', alt: 'avatar image'), "#" %>
        <div class="card-body">
          <h4 class="card-title">CB400sf</h4>
          <p class="card-text">素晴らしいバイクです！</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header" >
          <div class="post-user">
            <%= link_to image_tag('no-avatar.png', class: 'user_avatar', alt: 'avatar image'), "#", class: 'mr-2' %>
          </div>
        </div>
        <%= link_to image_tag('sample_bike_1.jpg', class: 'bike_image_index', alt: 'avatar image'), "#" %>
        <div class="card-body">
          <h4 class="card-title">CB400sf</h4>
          <p class="card-text">素晴らしいバイクです！</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header" >
          <div class="post-user">
            <%= link_to image_tag('no-avatar.png', class: 'user_avatar', alt: 'avatar image'), "#", class: 'mr-2' %>
          </div>
        </div>
        <%= link_to image_tag('sample_bike_1.jpg', class: 'bike_image_index', alt: 'avatar image'), "#" %>
        <div class="card-body">
          <h4 class="card-title">CB400sf</h4>
          <p class="card-text">素晴らしいバイクです！</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>

  </div>
