<div class="card mt-4" >
  <div class="card-header p-2" >
    <div class="post-user float-left">
      <% if @post.user.avatar? %>
        <%= link_to image_tag(@post.user.avatar.to_s, class: 'user_avatar', alt: 'avatar image'), @post.user, class: 'mr-2' %>
        <% else%>
        <%= link_to image_tag('no-avatar.png', class: 'user_avatar', alt: 'avatar image'), @post.user, class: 'mr-2' %>
      <% end%>
      <%= link_to @post.user.name, user_path(@post.user.id), class: "text-black-50 text-decoration-none" %>
    </div>
    <div class="post-time float-right">
      <small><%= time_ago_in_words(l @post.created_at) + "前" %></small>
    </div>
  </div>

  <div class = "card-body">
    <%= image_tag(@post.image.to_s, class: 'bike_image_show', alt: 'avatar image') %> 
    <% if user_signed_in? %>
      <ul class="list-inline" style="margin: 1.25rem auto 0 auto;">
        <li class="list-inline-item">
          <%= render 'like_area', post: post %>
        </li>
        <% if current_user.admin? %>
          <li class="list-inline-item float-right">
            <%= link_to '削除', @post, method: :delete, data: { confirm: '投稿を削除してもよろしいですか？' }, class:'btn btn-outline-dark' %>
          </li>
        <% else %>
          <% if current_user?(@post.user) %>
            <li class="list-inline-item float-right">
              <%= link_to '削除', @post, method: :delete, data: { confirm: '投稿を削除してもよろしいですか？' }, class:'btn btn-outline-dark' %>
            </li>
            <li class="list-inline-item float-right mr-2">
              <%= link_to '編集', edit_post_path(@post), class:'btn btn-outline-dark' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>


  <div class="card-footer">
    <%= @post.description %>
    <table class="post-table">
      <tr>
        <th>天気</th>
        <td><%= @post.weather %></td>
      </tr>
      <tr>
        <th>体感</th>
        <td><%= @post.feeling %></td>
      </tr>
      <tr>
        <th>路面状況</th>
        <td><%= @post.road_condition %></td>
      </tr>
    </table>
  </div>
</div>