<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">新規投稿</h2>
    <%= form_with model: @post, local: true do |f| %>

    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        バイク画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        バイク名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"バイク名", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"説明" ,rows:"7" ,maxlength:"300" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          排気量
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:cc_id, Cc.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          メーカー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:maker_id, Maker.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          種類
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    <%# /商品の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>